<h2>Quizzy Quiz</h2>

<div id="quiz-list-container">
  <form id="quiz-select">
    <select class="target">
    </select>
  </form>
</div>

<div id="questions-container">
</div>

<script type="text/template" class="quiz-list">
  <option data-quiz-id="<%%= quiz.id %>"><%%= quiz.title %></option>
</script>

<script type="text/template" class="quiz">
  <div class="quiz-info"><%%= quiz.title %></div>
</script>

<script type="text/template" class="quiz-question">
  <h2><%%=this.question%></h2>

  <form class="answer-form">
    <%% _.each(this.choices, function(choice) {%>
      <input type="radio" value="<%%= choice %>" name="answer" data-answer="<%%= choice %>"><%%= choice %></br>
    <%% }); %>
    <input type="submit" value="submit" class="answer" id="answer">
  </form>

  <div class="answer-validation"></div>
  <div class="score-summary"></div>
</script>

